.container.about {
    margin: 64px 0px 0px 0px;
    padding: 0px;
}

.container.about #photo {
    float: right;
    display: inline-block;
    margin: 0px;
    width: 128px;
    height: 168px;
    max-width: 100%;
    color: #fff;
    background: #357 url("https://www.zubozrout.cz/faces/summer.jpg") no-repeat center center;
    background-size: auto;
    background-size: cover;
    box-shadow: 1px 1px 4px #000;
    vertical-align: middle;
}

.container.about section.overview p:first-of-type {
    margin: 0px;
    font-weight: 100;
}

.container.about p + h1 {
    margin: 0px;
}

.container.about .nickname {
    display: block;
    font-size: 1.25em;
}

.container.about .short-desc {
    display: block;
    font-weight: 100;
}

.container.about a {
    color: inherit;
    text-decoration: none;
}

.container.about ul {
    margin: 0px;
    padding: 0px 0px 0px 20px;
    list-style-type: disc;
}

.container.about ul.links {
    display: inline-block;
    padding: 0px 0px 0px 10px;
    list-style-type: none;
    border-left: 5px solid rgba(255, 255, 255, 0.25);
}

.container.about ul.links a {
    position: relative;
    display: block;
}

.container.about ul.links a::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0px;
    right: -30px;
    padding: 0.5em;
    background: rgba(255, 255, 255, 0.25);
    transform: rotate(45deg);
    transition: opacity 0.25s;
    opacity: 0;
}

.container.about ul.links a:hover::after {
    opacity: 1;
}

.container.about section {
    margin: 0px;
    padding: 20px;
    background: #fff;
}

.container.about section.overview {
    color: #fff;
    background: rgba(0, 10, 40, 0.75);
}

.container.about section .wrapper {
    margin: 0px auto;
    max-width: 1024px;
}

.container.about .plus-image {
    position: relative;
    margin-top: -300px;
    display: block;
    height: 600px;
    background: transparent url("scrapbook.jpg") no-repeat center center;
    background-size: cover;
    background-position: center top;
    z-index: -1;
}

.container.about section.detail .wrapper {
    margin-top: -140px;
    padding: 40px;
    max-width: 1024px;
    background: inherit;
}
