
body[data-authenticated="true"] .compose-pop-up-space {
    position: fixed;
    display: none;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.12);
    z-index: 3;
}

body[data-authenticated="true"] .compose-pop-up-space.visible {
    display: flex;
    align-items: center;
    justify-content: center;
}

body[data-authenticated="true"] .compose-pop-up-space .feed {
    width: 100%;
}

body[data-authenticated="true"] .compose-pop-up-space .compose {
    max-height: 100vh;
    overflow-y: scroll;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .link-wrapper {
    position: relative;
    margin-top: 5px;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .link-wrapper.hidden {
    display: none;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .link-wrapper .clear-link {
    float: right;
    margin: 10px;
    padding: 8px;
    font-size: 0px;
    line-height: 20px;
    background: transparent url("../assets/cancel.svg") no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .link-wrapper span {
}

body[data-authenticated="true"] .compose-pop-up-space .compose .link-wrapper .preview-wrapper {
    display: block;
    padding: 5px;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .link-wrapper :not(.hidden) + .preview-wrapper {
    clear: both;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .link-wrapper .preview-wrapper .title {
    display: block;
    padding: 15px 0px;
    color: #2962ff;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .link-wrapper .preview-wrapper .title:empty {
    display: none;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .link-wrapper .preview-wrapper img.preview {
    display: block;
    margin: 0px auto;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .link-wrapper .clear-block {
    clear: both;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .link-wrapper .hidden + .clear-block {
    display: none;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .link-wrapper .swap-btn {
    float: left;
    margin: 10px;
    padding: 8px 8px 8px 28px;
    line-height: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center left;
    cursor: pointer;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .link-wrapper .swap-btn.hidden {
    display: none;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .link-wrapper .previous-image {
    background-image: url("../assets/previous.svg");
}

body[data-authenticated="true"] .compose-pop-up-space .compose .link-wrapper .next-image {
    background-image: url("../assets/next.svg");
}

body[data-authenticated="true"] .compose-pop-up-space .compose .textarea,
body[data-authenticated="true"] .compose-pop-up-space .compose .textinput {
    display: block;
    margin: 0px -10px;
    padding: 5px 15px;
    min-height: 18px;
    border: none;   
    resize: none;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .textarea {
    padding: 20px 15px;
    min-height: 10vh;
    max-height: 45vh;
    overflow-y: scroll;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .textinput {
    margin: 5px 0px;
    padding: 5px;
    border: 1px solid #ddd;
}

body[data-authenticated="true"] .compose-pop-up-space .compose [contentEditable=true]:empty:before {
    content: attr(data-placeholder);
    color: #888;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .reshare {
    display: block;
    margin: 0px;
    padding: 10px 5px;
    width: 100%;
    font-size: 10px;
    border: none;
    white-space: none;
    opacity: 1;
    box-sizing: border-box;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .tools .button {
    color: rgba(0, 0, 0, 0.87);
    margin: 10px 5px;
    padding: 8px 10px;
    min-width: 88px;
    border-radius: 3px;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .tools .button.public-toggle:not(.disabled),
body[data-authenticated="true"] .compose-pop-up-space .compose .tools .button.submit:not(.disabled) {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

body[data-authenticated="true"] .compose-pop-up-space .compose .tools .button.submit:not(.disabled) {
    color: #fff;
    background: #4285f4;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .tools .button.public-toggle {
    float: left;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .tools .button.public-toggle {
    background: #db4437;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .tools .button.public-toggle::after {
    content: "Private";
    color: #fff;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .tools .button.public-toggle[data-public="true"] {
    background: #689f38;
}

body[data-authenticated="true"] .compose-pop-up-space .compose .tools .button.public-toggle[data-public="true"]::after {
    content: "Public";
}

body[data-authenticated="true"] .feed .posts article .tools .button.delete,
body[data-authenticated="true"] .feed .posts article .tools .button.edit {
    font-size: 0px;
}

body[data-authenticated="true"] .feed .posts article .tools .button.delete::after {
    content: "Delete";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: block;
    margin: 8px;
    background: transparent url("../assets/delete.svg") no-repeat center center;
    background-size: contain;
}

body[data-authenticated="true"] .feed .posts article .tools .button.edit::after {
    content: "Edit";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: block;
    margin: 8px;
    background: transparent url("../assets/edit.svg") no-repeat center center;
    background-size: contain;
}

body[data-authenticated="true"] .feed .posts > article {
    border-top: 4px solid #4285f4;
}

body[data-authenticated="true"] .feed .posts > article.private {
    border-top: 4px solid #db4437;
}

body[data-authenticated="true"] .compose-pop-up-space .feed article.compose {
    display: none;
}

body[data-authenticated="true"] .compose-pop-up-space.visible .feed article.compose {
    display: block;
}

body[data-authenticated="true"] .feed article.compose {
    display: none;
}

body[data-authenticated="true"] .feed article.compose.visible{
    display: block;
}

body[data-authenticated="true"] .feed article.compose .input {
    display: inline-block;
    margin: 0px 10px;
    padding: 20px 0px;
    font-size: 16px;
    color: #bdbdbd;
    cursor: text;
}

body[data-authenticated="true"] .floating-compose {
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: none;
    margin: 32px;
    width: 58px;
    height: 58px;
    text-align: center;
    background: #db4437;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),0 3px 14px 2px rgba(0, 0, 0, 0.12),0 5px 5px -3px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
}

body[data-authenticated="true"] .floating-compose.visible {
    display: block;
}

body[data-authenticated="true"] .compose-pop-up-space.visible + .floating-compose {
    display: none;
}

body[data-authenticated="true"] .floating-compose::after {
    content: "";
    font-family: 'Material Icons Extended';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 58px;
    color: #fff;
    font-weight: 555;
}
