.feed article {
    position: relative;
    margin: 20px auto;
    padding: 0px 10px;
    font-size: 14px;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    outline: none;
    transition: background-color 200ms ease-in;
    overflow: hidden;
}

.feed article.hidden {
    display: none;
}

.feed article .reshared-post article {
    margin: 0px -10px;
    padding: 0px 10px;
    border-top: 1px solid #ebebeb;
    box-shadow: none;
}

.feed article h2 {
    display: none;
    font-size: 12px;
    font-weight: 400;
}

.feed article .reshare {
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
    font-size: 0px;
    border: none;
    opacity: 0;
}

.feed article .date {
    display: block;
    padding: 10px 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.54);
    float: right;
}

.feed article .date .updated::after {
    
}

.feed article .author {
    display: block;
    padding: 10px 0px;
    float: left;
    font-weight: 500;
    color: rgba(0,0,0,0.87);
    font-size: 14px;
    text-decoration: none;
    text-overflow: ellipsis;
}

.feed article .author img {
    display: inline-block;
    margin: 0px 10px 0px 0px;
    padding: 0px;
    width: 36px;
    border-radius: 50%;
    vertical-align: middle;
}

.feed article a.original-link {
    display: none;
}

.feed article a {
    text-decoration: none;
    color: #2962ff;
}

.feed article .content {
    display: block;
    padding: 0px;
    max-height: 60px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    clear: both;
}

.feed .posts > article.focus > .content,
.feed .posts > article article.focus > .content {
    max-height: none;
}

.feed article .reshared-post article .content {
    color: rgba(0, 0, 0, 0.54);
}

.feed article .expand {
    position: relative;
    display: block;
    padding: 5px 0px;
    font-size: 0px;
    color: #2962ff;
    cursor: pointer;
}

.feed .posts article.focus .expand,
.feed .posts > article article.focus > .expand {
    box-shadow: none;
}

.feed .posts > article > .expand::after,
.feed .posts > article article > .expand::after {
    content: "\002026";
    position: absolute;
    display: block;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 20px;
    text-align: right;
    line-height: 0;
    font-size: 34px;
    font-weight: 500;
    text-align: right;
    color: #4285f4;
    background: linear-gradient(rgba(255,255,255,0), white 50%, white);
}

.feed .posts > article.focus > .expand::after,
.feed .posts > article article.focus > .expand::after {
    content: "Shrink";
    position: relative;
    font-size: 12px;
}

.feed article .additional-info-wrapper {
    display: block;
    margin: 0px -10px;
}

.feed article .additional-info-wrapper a {
    display: block;
}

.feed article .additional-info-wrapper span {
    display: block;
    padding: 10px;
}

.feed article .additional-info-wrapper span:empty {
    display: none;
}

.feed article .additional-info-wrapper a:not([href]) {
    display: none;
}

.feed article .additional-info-wrapper img {
    display: block;
    margin: 0px auto;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.feed article .additional-info-wrapper .youtube-wrapper {
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    position: relative;
}

.feed article .additional-info-wrapper .youtube-wrapper iframe.youtube-player {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.feed article .tools {
    text-align: right;
}

.feed article .tools .button {
    display: inline-block;
    margin: 10px 5px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
}

.feed article .tools .button.disabled {
    color: rgba(68, 68, 68, 0.502);
    background: rgba(153,153,153,0.102);
    cursor: default;
}

.feed article .tools .button.disabled {
    color: rgba(68, 68, 68, 0.502);
    background: rgba(153,153,153,0.102);
    cursor: default;
}

.feed article .tools .button.round {
    position: relative;
    margin-right: 8px;
    width: 36px;
    height: 36px;
    background: #eeeeee;
    border-radius: 50%;
}

.feed article .tools .button.round svg {
    padding: 8px 0px;
    width: 18px;
    height: 20px;
}

