@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin-ext");

body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    background: #f1f1f1;
}

.log-in-form {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.12);
    z-index: 10;
}

.log-in-form form {
    position: relative;
    display: block;
    top: 50%;
    margin: 0px auto;
    padding: 40px;
    width: 400px;
    max-width: 100%;
    background: #f7f7f7;
    box-shadow: 0px 0px 4px #888;
    transform: translateY(-50%);
}

.log-in-form form .cancel {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 18px;
    font-size: 0px;
    background: transparent url("../assets/cancel.svg") no-repeat center center;
    background-size: 75%;
    cursor: pointer;
    z-index: 2;
}

.log-in-form form h2 {
    display: block;
    margin: 0px 0px 30px 0px;
    font-size: 2em;
    font-weight: normal;
}

.log-in-form form > * {
    display: block;
    margin: 10px 0px;
}

.log-in-form.pending form > * {
    opacity: 0.25;
}

.log-in-form form input[type="text"],
.log-in-form form input[type="password"] {
    display: block;
    padding: 10px 15px;
    width: calc(100% - 32px);
    border: 1px solid #ddd;
    border-radius: 0px;
}

.log-in-form form input[type="submit"] {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 0px;
}

.log-in-form form span.error {
    display: none;
}

.log-in-form.pending form {
    background: #f7f7f7 url("../assets/loading.gif") no-repeat center center;
}

.log-in-form.pending form > * {
    visibility: hidden;
}

.log-in-form.error form span.error {
    display: block;
    color: #d00;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
    z-index: 3;
}

header .hamburger {
    display: inline-block;
    padding: 20px 25px 15px 25px;
    vertical-align: middle;
    cursor: pointer;
}

header .hamburger svg {
    color: rgba(255,255,255,0.749);
    fill: rgba(255,255,255,0.749);
}

header .hamburger svg path {
    fill: #676767;
}

header a.logo {
    display: inline-block;
    margin: 0px;
    padding: 20px 25px 20px 10px;
    width: 88px;
    height: 24px;
    font-size: 0px;
    vertical-align: middle;
    background: #fff url("../assets/plus-logo.png") center center no-repeat;
    background-size: 88px 24px;
    opacity: .54;
}

header .user-account {
    display: inline-block;
    vertical-align: middle;
}

header .user-account .user-button {
    position: relative;
    padding: 0px 10px;
}

header .user-account .user-button img {
    display: inline-block;
    margin: 0px 10px 0px 0px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    vertical-align: middle
}

header .user-account .user-button .content {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

header .user-account .user-button .content span {
    display: block;
}

header .user-account .user-button .content .log-in-out {
    display: block;
    cursor: pointer;
    color: #2962ff;
}

.container {
    padding: 10px;
    overflow: hidden;
}

.list {
    position: fixed;
    top: 64px;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 20px 0px;
    background: #f1f1f1;
    font-size: 14px;
    border-right: 4px solid #ddd;
    overflow: scroll;
    z-index: 2;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
}

.list.visible {
    transform: translateX(0%);
}

.list ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    counter-reset: index;
}

.list ul li {
    display: block;
}

.list ul li.external {
    background: #4285f4;
}

.list ul li a {
    display: block;
    padding: 0px 20px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 500;
    line-height: 50px;
    text-decoration: none;
}

.list ul li.external a {
    color: #fff;
    border-bottom: 1px solid #fff;
    opacity: 0.5;
}

.list ul li a::after {
    float: right;
    margin-left: 10px;
    counter-increment: index;
    content: " (" counters(index, ".") ")";
}

.list ul li a.current {
    color: #4285f4;
    text-decoration: underline;
}

.list ul li.external a.current {
    color: #fff;
}

.feed-container {
    position: absolute;
    top: 64px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 15px;
    overflow-x: none;
    overflow-y: scroll;
}

.feed {
    margin: 0px auto;
    max-width: 530px;
    min-width: 140px;
    transform: translateX(0%);
    transition: transform .3s ease-in-out;
}

.list.visible + .feed-container .feed {
    transform: translateX(10%);
}

.feed .error {
    display: block;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
}
